<div id="pottfilio-parent">
    <div id="firstProject">
        <div class="skill-tittle">
           Candid Photography
        </div>
        <div class="project-tittle">
           Oceanic feeling
         </div>
        <div class="project-info">
            <div class="project-description">
                Candid Oceanic photography captures moments in the natural world without staging or posing subjects. It focuses on portraying marine life, coastal landscapes, and interactions between humans and the ocean in an authentic, unscripted manner. The essence lies in capturing the spontaneity of marine creatures, the dynamic movement of waves, the play of light on water, and the raw beauty of underwater ecosystems.
                This genre often emphasizes the harmony between marine life and their environments, showcasing both the tranquility and the power of the ocean. It may feature close-up shots of sea creatures in their natural habitats, sweeping views of expansive seascapes, or intimate glimpses of human activities such as surfing, diving, or beachcombing.
             </div>   
        <div class="date-time-info">
           <div><b>Date</b></div>
           <div>17,Dec-2023</div> 
           <p></p>
           <div><b>Client</b></div>
           <div>ABC</div>
        </div>
    </div>  

  
    <div class="project-work">
        <img class="image-style" src="assets/images/projectOne.png" alt="Image Not available"/>
    </div>

    <div class="gallery">
    <div class="project-work">
        <img class="second-photo" src="assets/images/secondphoto.png" alt="Image Not available"/>
    </div>

    <div class="project-work">
        <img class="third-photo" src="assets/images/photothree.png" alt="Image Not available"/>
    </div>

    </div>
    
</div>