<div id="homeMainDiv">
   <div class="intro-section">
   Hello! I'm Nelson a photographer
   <div class="breif-section">
    A passionate photographer dedicated to capturing moments that tell compelling stories. With a keen eye for detail and a love for visual storytelling, I specialize in portrait, landscape, documentary photography and product photography. 
    </div>
   </div> 
   <div class="img-class">
    <img class="image-style" src="assets/images/profilepic.png"/>
    </div>
</div>
<div id="work-section">
  <div class="MyWorkTittle">
    My Work
  </div>
  <div>
    <table>
      <tbody>
      <tr>
      <td colspan="3">
        <img src="assets/images/experience_one.png">
      </td>
      <td>
        <div>Consectur (2016-2017)</div>
        <div>
          Graphic Design
        </div>
        <div>
          Develop visual content for both print and digital platforms, including logos, banners, social media graphics, and promotional materials
        </div>
      </td>
      </tr>


      <tr>
        <td colspan="3">
          <img src="assets/images/experience_two.png">
        </td>
        <td>
          <div>Bibendum (2017-2020)</div>
          <div>
            Photographer
          </div>
          <div>
            Setting up equipment such as cameras, lenses, lighting, and props.
            Directing subjects and guiding them to achieve desired poses or expressions.
            Capturing high-quality photographs that meet technical and artistic standards. 
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <img src="assets/images/work_experience_three.png">
        </td>
        <td>
          <div>Adipiscing (2020-Present)</div>
          <div>
            Cheif Photographer
          </div>
          <div>
            Serving as a primary point of contact for clients or internal stakeholders regarding photography projects.
            Consulting with clients to understand their vision and requirements, and ensuring deliverables meet expectations.
          </div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="skill-section">
  <div class="MySkillsTittle">
    My Skills
  </div>
  <div class="skill-list-style">
  <div class="skill-list-section">
    <div class="skill-list-item"><span class="bullet-point"></span>Photography</div>
    <div class="skill-list-item"><span class="bullet-point"></span>Brand Identity</div>
  </div>
  <div class="skill-list-section">
    <div class="skill-list-item"><span class="bullet-point"></span>Graphic Design</div>
    <div class="skill-list-item"><span class="bullet-point"></span>Copy Writing</div>
   </div>
   <div class="skill-list-section">
    <div class="skill-list-item"><span class="bullet-point"></span>Creativity</div>
    <div class="skill-list-item"><span class="bullet-point"></span>Team Working</div>
   </div>
  </div>
</div>
<app-footer></app-footer>
