<app-header></app-header>
<div id="homeMainDiv">
   <div class="intro-section">
   Hello! I'm Nelson a photographer
   <div class="breif-section">
    A passionate photographer dedicated to capturing moments that tell compelling stories. With a keen eye for detail and a love for visual storytelling, I specialize in portrait, landscape, documentary photography and product photography. 
    </div>
   </div> 
   <div class="img-class">
    <img class="image-style" src="assets/images/profilepic.png"/>
    </div>
</div>
<div class="skill-section">
  <div class="MySkillsTittle">
    My Skills
  </div>
  <div class="skill-list-style">
  <div class="skill-list-section">
    <div class="skill-list-item"><span class="bullet-point"></span>Photography</div>
    <div class="skill-list-item"><span class="bullet-point"></span>Brand Identity</div>
  </div>
  <div class="skill-list-section">
    <div class="skill-list-item"><span class="bullet-point"></span>Graphic Design</div>
    <div class="skill-list-item"><span class="bullet-point"></span>Copy Writing</div>
   </div>
   <div class="skill-list-section">
    <div class="skill-list-item"><span class="bullet-point"></span>Creativity</div>
    <div class="skill-list-item"><span class="bullet-point"></span>Team Working</div>
   </div>
  </div>
</div>
<app-footer></app-footer>
