<div id="footer">
<div class="connect-message">
   Say hello and let's work together ! 
</div>
<div  class="connect-message">Connect via</div>
<div class="social-media-icons">
<img src="assets/images/apple.png" alt="image not available" height="30" width="30"/>
<img src="assets/images/linkedin.png" alt="image not available" height="30" width="30"/>
<img src="assets/images/facebook.png" alt="image not available" height="30" width="30"/>
<img src="assets/images/instagram.png" alt="image not available" height="30" width="30"/>
</div>

<div class="copyright-section">
    <p>&copy; 2024 xyz. All rights reserved.</p>
</div>
</div>